*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body
{
    height: 100vh;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center;  */
    /* background: linear-gradient(90deg, rgba(65,184,131,1) 0%, rgba(0,212,255,1) 100%); */
    background: linear-gradient(175deg, rgba(93,255,152,1) 0%, rgba(103,250,206,1) 35%, rgba(93,255,152,1) 100%);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center center;
    transition: 0.3s;
}

header
{
    color: white;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(16px);
    height: 85px;
    /* box-shadow: 0px 5px 10px 2px #000; */
    border-bottom: 1px solid black;
}

header h1
{
    margin-left: 30px;
    margin-top: 15px;
}

.label img
{
    height: 30px;
    position: absolute;
    top: 0px;
    border:2px solid white;
    box-shadow: inset #48b47c 30px 30px;
    border-radius: 5px;
    
    
}

.botao
{
    position: relative;
    margin-top: 25px;
    margin-right: 50px;
}

body .container
{
    border: 2px solid #fff;
    padding: 30px 40px;
    width: 40%;    
    min-width: 500px;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
}

.new-task-container
{
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .3);
    display: flex;
}

.new-task-container input
{
    flex: 3;
    font-size: 1rem;
    border: 2px solid #d1d3d4;
    border-radius: 5px;
    padding: 12px;
    font-weight: 500;
}

.new-task-container input:focus
{
    outline: none;
    border-color: #41b883;
}

.new-task-button
{
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 1rem;
    border: none;
    background-color: #41b883;
    color: #fff;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;
}

.new-task-button:hover
{
    background-color: #369e6f;
}

.tasks-container
{
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .3);
    width: 100%;
}

.task-item
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 6px;
}

.task-item i
{
    background-color: #41b883;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.task-item i:hover
{
    background-color: #369e6f;
}

.task-item p
{
    cursor: pointer;
    user-select: none;
    width: 500px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}

/* utilities */
.error
{
    border:2px solid red !important;
}

.error::placeholder
{
    color: red;
}

.completed
{
    text-decoration: line-through;
}
/* utilities */



@media screen and (max-width:600px) 
{
    .container
    {
        margin-top: 50px;
        border: transparent !important;
        padding: 0 !important;
        min-width: 300px !important;
    }

    .new-task-container
    {
        display: block;
        text-align: center;
    }

    .new-task-button
    {
        margin-top: 15px;
        padding: 12px 25%;
        margin-left: 0;
        width: 88%;
    }
}

/* DARK MODE */
html[dark] .label img
{
    box-shadow: inset rgba(43,43,43,1) 30px 30px;
    
}

html[dark] body
{
    background: linear-gradient(175deg, rgba(43,43,43,1) 0%, rgba(83,83,83,1) 35%, rgba(42,42,42,1) 100%);
}

html[dark] header
{
    /* box-shadow: 0px 5px 10px 2px #000; */
    border-bottom: 1px solid white;
}

html[dark] .new-task-container
{
    background-color: rgba(43,43,43,1);
}

html[dark] .new-task-container input
{
    background-color: rgba(43,43,43,1);
    color: white;
}

/* html[dark] .new-task-container input::placeholder
{
    color: rgba(200, 200, 200, 1);
} */

html[dark] .tasks-container
{
    background-color: rgba(43,43,43,1);
    color: #fff;
}